In [1]:
import numpy as np
import pandas as pd

column_names = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('u.data', sep='\t', names=column_names)

In [2]:
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [3]:
movie_titles = pd.read_csv("Movie_Id_Titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [4]:
df = pd.merge(df,movie_titles,on='item_id')
df.head()

   user_id  item_id  rating  timestamp             title
0        0       50       5  881250949  Star Wars (1977)
1      290       50       5  880473582  Star Wars (1977)
2       79       50       4  891271545  Star Wars (1977)
3        2       50       5  888552084  Star Wars (1977)
4        8       50       5  879362124  Star Wars (1977)

In [5]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(df, test_size=0.25)

In [7]:
n_users = df.user_id.nunique()
n_items = df.item_id.nunique()
train_data_matrix = np.zeros((n_users, n_items))
print(train_data_matrix)
print(train_data_matrix.shape)
print('$$$$$$$$$$')
for line in train_data.itertuples():
    
    train_data_matrix[line[1]-1, line[2]-1] = line[3]  
    
test_data_matrix = np.zeros((n_users, n_items))
for line in test_data.itertuples():
    test_data_matrix[line[1]-1, line[2]-1] = line[3]
    
print(train_data_matrix)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
(944, 1682)
$$$$$$$$$$
[[5. 3. 4. ... 0. 0. 0.]
 [4. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 5. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [8]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')
item_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')
user_similarity

array([[0.        , 0.84792567, 0.94482161, ..., 0.88592633, 0.72533327,
        0.98523553],
       [0.84792567, 0.        , 0.93440867, ..., 0.94796451, 0.91359402,
        1.        ],
       [0.94482161, 0.93440867, 0.        , ..., 0.87512417, 0.98003001,
        1.        ],
       ...,
       [0.88592633, 0.94796451, 0.87512417, ..., 0.        , 0.90568602,
        0.85504262],
       [0.72533327, 0.91359402, 0.98003001, ..., 0.90568602, 0.        ,
        0.90147903],
       [0.98523553, 1.        , 1.        , ..., 0.85504262, 0.90147903,
        0.        ]])

In [15]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        print(ratings)
        print(ratings.shape)
        mean_user_rating = ratings.mean(axis=1)
        print(mean_user_rating.shape)
        print('#######')
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        print(ratings_diff)
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])     
    return pred

In [19]:
user_prediction = predict(train_data_matrix, user_similarity, type='user')
item_prediction = predict(train_data_matrix, item_similarity, type='item')

[[5. 3. 4. ... 0. 0. 0.]
 [4. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 5. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
(944, 1682)
(944,)
#######
[[ 4.58561237e+00  2.58561237e+00  3.58561237e+00 ... -4.14387634e-01
  -4.14387634e-01 -4.14387634e-01]
 [ 3.90546968e+00 -9.45303210e-02 -9.45303210e-02 ... -9.45303210e-02
  -9.45303210e-02 -9.45303210e-02]
 [-7.19381688e-02 -7.19381688e-02 -7.19381688e-02 ... -7.19381688e-02
  -7.19381688e-02 -7.19381688e-02]
 ...
 [-1.54577883e-01 -1.54577883e-01 -1.54577883e-01 ... -1.54577883e-01
  -1.54577883e-01 -1.54577883e-01]
 [-2.45541023e-01  4.75445898e+00 -2.45541023e-01 ... -2.45541023e-01
  -2.45541023e-01 -2.45541023e-01]
 [-3.56718193e-03 -3.56718193e-03 -3.56718193e-03 ... -3.56718193e-03
  -3.56718193e-03 -3.56718193e-03]]

In [20]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten() 
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [21]:
print('User-based CF RMSE: ' + str(rmse(user_prediction, test_data_matrix)))
print('Item-based CF RMSE: ' + str(rmse(item_prediction, test_data_matrix)))

User-based CF RMSE: 3.1266760434939895
Item-based CF RMSE: 3.4543622300597976

In [22]:
sparsity=round(1.0-len(df)/float(n_users*n_items),3)
print('The sparsity level of MovieLens100K is ' +  str(sparsity*100) + '%')

The sparsity level of MovieLens100K is 93.7%

In [23]:
import scipy.sparse as sp
from scipy.sparse.linalg import svds

#get SVD components from train matrix. Choose k.
u, s, vt = svds(train_data_matrix, k = 20)
s_diag_matrix=np.diag(s)
X_pred = np.dot(np.dot(u, s_diag_matrix), vt)
print('User-based CF MSE: ' + str(rmse(X_pred, test_data_matrix)))

User-based CF MSE: 2.7157878518083667